/*HEADER----------------------------------------------------------------------*/
#header {
  padding: 25px;
  background: #fc4445;
  color: white;
  font-size: 20px;
  font-family: 'Fugaz One', cursive;
  display: block;
  overflow: hidden;
}

#header h1{
    text-align: left;
    float: left;
}

#header a{
  text-decoration: none;
  color:white;
}

* {
      margin: 0;
      padding: 0;
}


.navBar{
  list-style-type: none;
  white-space: nowrap;
  padding:0;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  float: right;
  font-family: 'Nunito', sans-serif;
  margin-top: 8px;


}
.navBar li{
  display: inline;
  margin-right: 40px;
  font-size: 23px;
}
.navBar a{
  text-decoration: none;
  color: #FAEBD7;

}

/*HEADER----------------------------------------------------------------------*/

.createPost{
  display: inline-block;
  text-align: left;
  font-family: 'Nunito', sans-serif;
}

.form input{
  margin-bottom: 20px;
  width: 465px;
  height: 25px;
  margin-top: 5px;
}

.createPost h2{
  text-align:center;
  margin-bottom: 20px;
  font-size: 40px;
  margin-top: 10px;
  border-bottom: 2px solid black;
}

#description{
  width: 465px;
}

#postButton{
  width: 100px;
  height: 25px;
  display: block;
  margin: 0 auto;

}
