#header h1{
    text-align: left;
    float: left;
}

#header a{
  text-decoration: none;
  color:white;
}

.signIn{
  float: right;
}

.signIn input{
  margin-top: 40px;
  width: 200px;
  height: 20px;
}

#signInButton{
  margin-top: 40px;
  width: 100px;
  height: 25px;
  padding-right: 10px;
  margin-right: 50px;
}

.row {
  display: flex;
}

.leftColumn {
  flex: 50%;
  /*border-right: 1px solid black;*/
  font-family: 'Nunito', sans-serif;
  /*padding-bottom: 400px;*/
}


.leftColumn h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.leftColumn h2{
  margin-left: 8%;
    /*margin: 0;*/
  margin-bottom: 8px;
  font-size: 30px;
}

.leftColumn p{
  width: 80%;
  /*margin: auto;*/
  margin-bottom: 50px;
  margin-left: 8%;
}

#mission{
  margin-bottom: 0px;
}


img{
  width: 15em;
  height: 17em;
  margin-left: 35%;
}

.rightColumn{
  flex: 50%;
  font-family: 'Nunito', sans-serif;
}

.rightColumn h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 30px;
}


#fName{
  width: 220px;
}

#lName{
  width: 220px;
}

#submitButton{
  width: 100px;
  display: block;
  margin: 0 auto;
}

.signUp input{
  height: 30px;
  margin-left: 150px;
  margin-bottom: 30px;
  width: 600px;

}
