body {
   height: 100%;
}

#content{
   text-align: center;
}

#content h1{
   margin-bottom: 20px;
   text-align: center;
   font-size: 40px;
   margin-top: 10px;
   border-bottom: 2px solid black;
}

#search-form {
   text-align: left;
}
#search-form select {
   padding: 12px 20px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
} 

#search-form input {
   width: 30em;
   padding: 12px 20px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }

 #search-form button {
   background-color: red;
   color: white;
   padding: 14px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

#list{
   display: inline-block;
   position: relative;
   align-content: center;
   height: 100%;
   width: 44em;
}
.job h2{
   margin-top: 5px;
}
.job{
   text-align: left;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
   border-radius: 5px;
   border-style: solid;
   border-color: white;
   background-color: white;
   margin-bottom: 1em;
   cursor: pointer;
}
.job:hover {
   border-color: red;
 }

.job h2{
   margin-bottom: 5px;
}
.info{
   padding-left: 0px;
   margin-top: 5px;
   margin-bottom: 5px;
}
.info li{
   margin-right: 20px;
   list-style: none;
   display:inline;
   margin-bottom: 5px;
}
#bottom{
   align-content: center;
   display: inline;
   text-align: center;
}
#goBack{
   margin-left: 48%;
}

