/* ---HEADER--- */
#header {
    padding: 25px;
    background: #fc4445;
    color: white;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
    display: block;
    overflow: hidden;
  }
  #header h1{
      text-align: left;
      float: left;
  }
  
  #header a{
    text-decoration: none;
    color:white;
  }
  
  * {
        margin: 0;
        padding: 0;
  }
  
  .navBar{
    list-style-type: none;
    white-space: nowrap;
    padding:0;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    float: right;
    font-family: 'Nunito', sans-serif;
     margin-top: 8px;
  }
  .navBar li{
    display: inline;
    margin-right: 40px;
    font-size: 23px;
  }
  .navBar a{
    text-decoration: none;
    color: #FAEBD7;
  }
  /* ---HEADER--- */

  body {
    font-family: 'Nunito', sans-serif;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  #spacer {
    margin-top: 120px;
  }