
#editProfile{
	display: inline-block;
	text-align: left;
}
  
h2{
	margin: 10px;
	text-align: center;
	font-size: 40px;
	border-bottom: 2px solid black;
}

.info{
	overflow: auto;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: white;
	margin-bottom: 1em;
	cursor: pointer;
	width: 465px;
 }

 #right-half {
	width: 50%; 
	float: right;
 }
 #left-half {
	width: 50%; 
	float: left;
 }

 button {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	background-color: red;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }

/* Modal */
.screen {
	width: 100%; /* Full width */
  	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000000;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
  	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.popup {
	margin: auto;
	background-color: white;
	border-radius: 5px;
	width: 500px;
	height: 300px;
}

p{
	margin: 8px;
}
li {
	margin: 2px;
	margin-left: 10px;
	list-style: none;
}